<a href="https://colab.research.google.com/github/YuvrajTak/CIPHERML_Assignments/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. A program to get user input in the form of list data type and Return a list by removing all the duplicates.

In [1]:
#Define duplicate function
def Remove(duplicate): 
    final_list = []    #initilize a empty
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
duplicate = input([]) #Take User input
print(Remove(duplicate)) #Removing all repeated values

12334
['1', '2', '3', '4']


   2. Create a tuple and perform the following operation.

In [29]:
tup = (55,22,25,70,12,2,32,7,11)

print(len(tup))  # length of tuple

print(min(tup))  # Minimum value of tuple

print(max(tup)) # Miximum value of tuple

print(sum(tup)) # Sum value of tuple

9
2
70
236


  3. Change the ith bit of a given number to 1.

In [10]:
number = int(input("number = "))

i = int(input('i = '))

magic_num = 1 << i

bit = 1 if(number & magic_num > 0) else 0

print(bit)

number = 12
i = 2
1

4.  Given a number, print 1 if the number is odd otherwise print 0.
**bold text**

In [17]:
number = int(input("Enter a number")) # Take user input

while(number %2 == 0):  #using while loop
  
    print("number is even so, 0")
    break
while (number %2!= 0):
    print("number is odd so,1")
    break

Enter a number12
number is even so, 0

5. Merge two list into a single shorted list that contains every item of list in ascending order.bold text

In [20]:
list1 = [1, 5, 6, 9, 11] #list 1
list2 = [3, 4, 7, 8, 10] #list 2
   
print(" list 1 is : " + str(list1)) 
print(" list 2 is : " + str(list2)) 
  
combo = sorted(list1 + list2) #shorting and adding both list
  
# printing result 
print("The finale sorted list is : " + str(combo))

 list 1 is : [1, 5, 6, 9, 11]
 list 2 is : [3, 4, 7, 8, 10]
The finale sorted list is : [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. 
    Create a user defind dictionary to store name and marks of students. Sort the dictionary

In [22]:
d = {'SITU':90,'GITU':45,'KITU':25,'PITU':72,'MITU':50}
a = sorted(d.items(), key=lambda x: x[1])   #USING lambda function 
print(a)  #Shorted name according to their marks.

[('KITU', 25), ('GITU', 45), ('MITU', 50), ('PITU', 72), ('SITU', 90)]